<br/>
<form action="/meetups" method="post">
  Add Meetup:&nbsp;
  <input name="meetup_name" type="text" value="Meetup Name">&nbsp;
  <input name="meetup_location" type="text" value="Location">&nbsp;
  <input name="meetup_description" type="text" value="Description">&nbsp;
  <input type="submit">
</form>
<br/>
<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a> -
      <%= meetup.location %>
    </li>
  <% end %>
</ul>
