<br/>
<form action="/meetups" method="post">
  Add Meetup:&nbsp;
  <input name="meetup_name" type="text" value="Meetup Name" onfocus="if (this.value=='Meetup Name') this.value='';">&nbsp;
  <input name="meetup_location" type="text" value="Location" onfocus="if (this.value=='Location') this.value='';">&nbsp;
  <input name="meetup_description" type="text" value="Description" onfocus="if (this.value=='Description') this.value='';">&nbsp;
  <input type="submit">
</form>
<br/>
<ul>
  <% @meetups.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a> -
      <%= meetup.location %>
    </li>
  <% end %>
</ul>
